.o_main_standby {
    background-color: aquamarine;
    height: 100%;
    width: 100%;
}

.viewers {
    padding-left: 10px;
}

.formview {
	> h1,>h2,>h3,>p {
		margin: 0;
	}
}

.btn-user{
    cursor:pointer;
    padding:.5em 1em;
    border:0;
    background:var(--clr-secondary);
    color:var(--clr-light);
    font-weight:bold;
    border-radius:12px;
}

.user-photo {
    height: 170px;
    width: 120px;
}

.game{
  position:relative;
  width:12rem;
  border: 1px solid;
  border-radius: 5px;
  border-color: white;
  background-color: white;
}
.front{
  transition:200ms;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  border-color: #c4c4b4;
  background-color: beige;

  & > img{
    border-radius:12px;
  }
  .name{
    margin:0.75em 0;
  }
  .status{
        display:flex;
    justify-content:space-between;
  align-items:center;
}
}

.back{
 position:absolute;
  top:56%;
  left:0;
  right:0;
  opacity:0;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:1em;
  .streaming-info{
    columns:2;
    column-rule:1px solid rgba(255,255,255,0.6);
  }
  .game-stat{
    font-size:1.2rem;
    text-align:center;
    span{
      display:block;
      font-size:.8rem;
    }
  }
}
.backgroundWrapper{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgb(36, 40, 42);
  z-index:-1;
  transform:scale(.2,.8);
  opacity:0;
  border-radius:12px;
}
.game:hover {
  .front{
    transform:translateY(-25%) scale(.8);
    .name{
     animation:gameName 150ms forwards;
    }
    .status{
      opacity:0;
    }
  }
  .back{
    opacity:1;
    .name{
      font-weight:bold;
    }
  }
  .rank{
    top:-35px;
    right:-30px;
  }
  .backgroundWrapper{
      transition:transform 200ms ease-in-out, opacity 100ms linear;
    opacity:1;
    transform:scale(1.4,1.2);
  }
}

.rank{
  position:absolute;
  right:15px;
  font-weight:bold;
  font-size:1.12rem;
  background:rgba(0,0,0,0.75);
  padding:.5em .5em;
  clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%,0 0);
  transition:250ms ease-in-out;
}

@keyframes gameName{
  0%{
    text-align:left;
    opacity:1;
  }
  20%{
    text-align:left;
    opacity:0;
  }
  50%{
    text-align:center;
    opacity:0;
  }
  100%{
    text-align:center;
    opacity:1;
  }
}
